<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="create_post.css">
    <title>Create Post</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-left">
                <i class='bx bx-chevron-left'></i>
            </div>
            <div class="header-center">
                <strong>New Post</strong>
            </div>
            <div class="header-right">
                <strong class="share-button">Share</strong>
            </div>
        </header>
        <div class="body-content">
            <img src="pom2_1.jpeg" alt="Post Image" class="post-image">
        </div>
        <footer>
            <textarea class="caption-input" placeholder="Write a caption..."></textarea>
        </footer>
    </div>
</body>

</html>
