<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="edit_post.css">
    <title>Edit Post</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-left">
                <strong class="done-button">Cancel</strong>
            </div>
            <div class="header-center">
                <strong>Edit Post</strong>
            </div>
            <div class="header-right">
                <strong class="done-button">Done</strong>
            </div>
        </header>
        <hr class="divider">
        <div class="body-content">
            <div class="user-info">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1024px-Default_pfp.svg.png" alt="Profile Icon" class="profile-icon">
                <div class="user-details">
                    <div class="username">user_1</div>
                    <div class="location">Add location...</div>
                </div>
            </div>
            <img src="pom2_1.jpeg" alt="Post Image" class="post-image">
        </div>
        <footer>
            <textarea class="caption-input" placeholder="Write a caption..."></textarea>
        </footer>
    </div>
</body>

</html>
