<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="edit_profile.css">
    <title>Edit Profile</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-left">Cancel</div>
            <div class="header-center">Edit Profile</div>
            <div class="header-right">Done</div>
        </header>
        <hr class="divider">
        <div class="body-content">
            <div class="profile-icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1024px-Default_pfp.svg.png" alt="Profile Icon">
            </div>
            <div class="change-photo">Change Profile Photo</div>
            <hr class="divider">
            <div class="profile-info">
                <div class="info-item">
                    <label class="info-label">Name</label>
                    <input type="text" placeholder="">
                </div>
                <hr class="info-divider">
                <div class="info-item">
                    <label class="info-label">Username</label>
                    <input type="text" placeholder="">
                </div>
                <hr class="info-divider">
                <div class="info-item">
                    <label class="info-label">Bio</label>
                    <input type="text" placeholder="">
                    <!-- <textarea placeholder=""></textarea> -->
                </div>
            </div>
            <hr class="divider">
        </div>
        <footer>
            <div class="footer-item">Switch to Professional Account</div>
            <hr class="footer-divider">
            <div class="footer-item">Personal Information Settings</div>
            <hr class="footer-divider">
        </footer>
    </div>
</body>

</html>
