{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="group-form">
                <legend class="form-label">Edit Profile</legend>

                <div class="group-form">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid", value=current_user.username) }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control", value=current_user.username) }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.fullname.label(class="form-label") }}
                    {% if form.fullname.errors %}
                        {{ form.fullname(class="form-control is-invalid", value=current_user.fullname) }}
                        <div class="invalid-feedback">
                            {% for error in form.fullname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fullname(class="form-control", value=current_user.fullname) }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.bio.label(class="form-label") }}
                    {% if form.bio.errors %}
                        {{ form.bio(class="form-control is-invalid", value=form.bio.data or current_user.bio) }}
                        <div class="invalid-feedback">
                            {% for error in form.bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bio(class="form-control", value=form.bio.data or current_user.bio) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.profile_pic.label(class="form-control-label") }}
                    {{ form.profile_pic(class="form-control-file") }}
                    {% for error in form.profile_pic.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="group-form">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}
