{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="group-form">
                    <legend class="form-label">Forgot Password</legend>

                    <div class="group-form">
                        {{ form.email.label(class="form-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                   
                    <div class="group-form">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                    <small class="form-text">
                        <a href="{{ url_for('login') }}">Remembered your password?</a>
                    </small>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock content %}