<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="home.css">
    <title>Instagram</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="instagram-logo">Instagram</div>
            </div>
            <hr class="divider">
        </header>
        <div class="post">
            <div class="user-info">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1024px-Default_pfp.svg.png" alt="Profile Icon" class="profile-icon">
                <span class="username">user_1</span>
            </div>
            <img src="pom2_1.jpeg" alt="post image" class="post-image">
            <div class="interaction-icons">
                <i class='bx bx-heart'></i>
                <i class='bx bx-message-rounded'></i>
                <i class='bx bx-paper-plane' ></i>
            </div>
            <div class="post-details">
                <span class="likes">10423 likes</span>
                <div class="comment">
                    <span class="username">user_1</span>
                    <span class="comment-text">The first test try for a post made in instagram for a coding project. Pasensya na po, ngunit hindi ko po maun wiwiiwiwiiwi awaan ang mensa ibuwinjxd kqsxuhc ibucwbiudwcinusx iwjinx wbiuwxijn bixon heng nais ninyong iparating. rforqnwjn okdwqnofnx wijqcbw.              </span>
                    <span class="comment-text1">#first_post #instagram #first #social_media #pom-pom #pomeranian</span>
                </div>
                <span class="date">19 October 2023</span>
            </div>
            <hr class="divider">
        </div>
        <footer>
            <div class="footer-buttons">
                <i class='bx bxs-home'></i>
                <i class='bx bx-search'></i>
                <i class='bx bx-add-to-queue'></i>
                <i class='bx bxs-user'></i>
            </div>
        </footer>
    </div>
</body>

</html>
