{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="form-label">Login</legend>

                <div class="group-form">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="group-form">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="">
                <small class="form-text">
                    <a href="{{ url_for('forgot_password')}}">Forgot Password?</a>
                </small>
            </div>
            <small class="form-text">
                <a href="{{ url_for('signup') }}">Don't have an account?</a>
            </small>
        </form>
    </div>
</div>

{% endblock content %}
