<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="login.css">
    <title>Instagram Login</title>
</head>

<body>
    <div class="container">
        <h1 class="instagram-title">Instagram</h1>
        <div class="input-container">
            <input type="text" placeholder="Username or Email">
        </div>
        <div class="input-container">
            <input type="password" id="password" placeholder="Password">
            <i class='bx bx-low-vision eye-icon'></i>
        </div>
        <button class="login-button">Log In</button>
    </div>
</body>

</html>
