body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
}

.instagram-title {
    font-size: 3rem;
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
    position: relative;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.eye-icon {
    font-size: 1.5rem;
    color: rgb(155, 153, 153);
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.login-button {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #4bc0ff;
}
