{% extends 'layout.html' %}

{% block content %}
    <div class="">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <legend class="">Reset Password</legend>
                <div class="">
                    {{ form.old_pass.label(class="") }}

                    {% if form.old_pass.errors %}
                        {{ form.old_pass(class="") }}
                        <div class="">
                            {% for error in form.old_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.old_pass(class=" ") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.new_pass.label(class="") }}

                    {% if form.new_pass.errors %}
                        {{ form.new_pass(class="") }}
                        <div class="">
                            {% for error in form.new_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.new_pass(class=" ") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.confirm_pass.label(class="") }}

                    {% if form.confirm_pass.errors %}
                        {{ form.confirm_pass(class="") }}
                        <div class="">
                            {% for error in form.confirm_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_pass(class=" ") }}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}