{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="group-form">
                <legend class="form-label">Sign Up</legend>

                <div class="group-form">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.fullname.label(class="form-label") }}
                    {% if form.fullname.errors %}
                        {{ form.fullname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fullname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fullname(class="form-control") }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.email.label(class="form-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>

                <div class="group-form">
                    {{ form.confirm_password.label(class="form-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="group-form">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
            <small class="form-text">
                <a href="{{ url_for('login') }}">Sudah punya akun?</a>
            </small>
        </form>
    </div>
</div>
{% endblock content %}
