<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Instagram Sign Up</title>
</head>

<body>
    <div class="container">
        <h1 class="instagram-title">Instagram</h1>
        <p class="signup-text">Sign up to see photos and videos from your friends</p>
        <div class="input-container">
            <input type="email" placeholder="Email">
        </div>
        <div class="input-container">
            <input type="text" placeholder="Full Name">
        </div>
        <div class="input-container">
            <input type="text" placeholder="Username">
        </div>
        <div class="input-container">
            <input type="password" placeholder="Password">
        </div>
        <div class="input-container">
            <input type="password" placeholder="Confirm Password">
        </div>
        <button class="signup-button">Sign Up</button>
        <p class="terms-text">By signing up, you agree to our <span class="bold-text">Terms</span>, <span class="bold-text">Data Policy</span>, and <span class="bold-text">Cookies Policy</span>.</p>
    </div>
</body>

</html>
